<ion-modal-view class="transparent1">
  <ion-content scroll="false">
    <div style="width: 100%; height: 25%; background-color: white; position: absolute; top:75%;">
      <div class="row moreRecommend-div-row" ng-click="moreRecommend.hide()">
        <div class="col col-10 moreRecommend-div-col" style="text-align: center"><i class="ion-thumbsup"></i></div>
        <div class="col col-90 moreRecommend-div-col">추천</div>
      </div>
      <div class="row moreRecommend-div-row" ng-click="moreRecommend.hide()">
        <div class="col col-10 moreRecommend-div-col" style="text-align: center"><i class="ion-ios-download-outline"></i></div>
        <div class="col col-90 moreRecommend-div-col">북마크</div>
      </div>
      <div class="row moreRecommend-div-row" ng-click="moreRecommend.hide()">
        <div class="col col-10 moreRecommend-div-col" style="text-align: center"><i class="ion-clipboard"></i></div>
        <div class="col col-90 moreRecommend-div-col">커스터마이즈</div>
      </div>
      <div class="row moreRecommend-div-row" ng-click="moreRecommend.hide()">
        <div class="col col-10 moreRecommend-div-col" style="text-align: center"><i class="ion-close-round"></i></div>
        <div class="col col-90 moreRecommend-div-col">취소</div>
      </div>
    </div>
    <!-- <button class="button" ng-click="qweqweqwe()">사진</button>
   <button class="button" ng-click="textResult()">결과</button>-->
  </ion-content>
</ion-modal-view>
