/* Empty. Add your own CSS if you like */
.menu .bar.bar-header.expanded {
  background-image: url('../img/material-graphite.jpg');
  background-size: 120%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}

.menu.menu-left * {
  font-weight: bold;
}

.item-radio input:checked ~ .item-content {
  background: transparent;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}

/* menu */
.menuTag {
  font-weight:normal;
  color: #e6b500;
  font-size:11px;
  text-decoration: none;
}
.menuTag:hover {
  text-decoration: underline;
}

/* main */
.mainTab {
  height: 20px;
}
.mainTab-span {
  font-size: 12px;
}
#main-weather-div {
  background-color: #444444;
  padding: 8px;
}
#main-weather-div * {
  text-align: center;
}
#temperature-text {
  font-weight: normal;
  color: white;
  margin: 0;
  margin-bottom: 5px;
}
.main-location-text {
  font-size: 11px;
  color: white;
}
#main-location-icon {
  font-size: 16px;
  color: white;
}
.my-tabs  > div {
  height: 28px; !important;
}

/* tourInfo */
#map {
  width: 100%;
  height: 60%;
  position: fixed;
}
.scroll {
  height: 100%;
}
#mapList {
  /*max-height: 100%;*/
  /*overflow: scroll;*/
}
.item-myactive {
  background-color: lightgray;
}

/* tourdetail */
.myDetailIcon {
  font-size: large;
}
.myDetailInfo {
  padding: 16px;
  white-space: normal;
}
.myDivider {
  line-height: 32px !important;
  /*background-color: rgba(255, 0, 102, 0.1);*/
  background-color: #e6e6e6;
}
.image-list-thumb {
  padding: 2px;
  height: 150px;
}
.image-modal {
  width: 100%; !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.transparent {
  background: rgba(0,0,0,0.7);
}
.slider {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}


/* myPage */
#myPageView {
  background-color: #e0e0e0;
}
.mypage-item {
  margin: 10px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.mypage-item-div {
  position: relative;
}
.mypage-content {
  padding: 0px !important;
}
.mypage-img {
  width: 100%;
  height: 150px;
  opacity: 0.9;
}
.mypage-title {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 0px 50px;
  white-space: normal;
  text-shadow: 1px 1px 5px #303030;
}
.mypage-author-div {
  position: absolute;
  top: 0px;
}
.mypage-author-a {
  padding: 0 0 0 30px;
  margin: 10px;
  min-height: 25px !important;
}
.mypage-author {
  color: white !important;
  font-size: 11px !important;
  line-height: 25px;
}
.mypage-author-img {
  max-height: 25px !important;
  max-width: 25px !important;
  top: 0px !important;
  left: 0px !important;
}
.mypage-info {
  padding: 0 10px 10px 10px;
}
.mypage-info-title {
  font-weight: bold !important;
  font-size: 13px !important;
  background-color: white !important;
}
.mypage-info-content {
  font-size: 11px !important;
  color: dimgray !important;
}
.mypage-delbtn {
  width: 25px;
  height: 25px;
  position: absolute;
  text-align: center;
  border: none;
  background-color: white;
  left: 90%;
  top: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px;
}
.mypage-delbtn-icon {
  line-height: 20px;
  color: #eeaa00;
  font-size: 20px;
}
