<ion-view id="myPageView" view-title="<i class='ion-thumbsup' style='font-size: larger'></i> {{scheduleListDetail.likeCnt}}">
  <button class="button button-balanced button-fab button-fab-bottom-right" ng-click="commentOpen();">
    <i class="icon ion-compose"></i>
  </button>
  <ion-content>

    <ion-list>
      <ion-item class="item-light item-complex mypage-item">
        <div class="item-content mypage-content mypage-item-div">
          <img class="detail-img" ng-src="{{scheduleListDetail.cover.filePath}}" ng-if="scheduleListDetail.picture == 1"/>
          <img class="detail-img" src="img/defaultscheduleImg.jpg" ng-if="scheduleListDetail.picture == 0">
          <div class="detail-title">{{scheduleListDetail.title}}<br><br><span>{{scheduleListDetail.period}}</span></div>
          <div class="detail-author-div">
            <a class="item item-avatar mypage-author-a" href="#">
              <img class="mypage-author-img" ng-src="{{scheduleListDetail.photoUrl}}">
              <p class="mypage-author">{{scheduleListDetail.displayName}}</p>
            </a>
          </div>
          <div class="detail-info">
            <div ng-show="isLiked"><i class="ion-thumbsup" ng-click="recommendSchedule()"></i><br><span>추천</span></div>
            <div ng-hide="isLiked"><i class="ion-thumbsup" style="color: red" ng-click="cancelRecommend()"></i><br><span>추천</span></div>
            <div ng-show="isBookMark"><i class="ion-ios-download-outline" ng-click="addBookmark()"></i><br><span>북마크</span></div>
            <div ng-hide="isBookMark"><i class="ion-ios-download-outline" style="color: red" ng-click="cancelBookMark()"></i><br><span>북마크</span></div>
            <div ng-show="isCustomizing"><i class="ion-clipboard" ng-click="customizing()"></i><br><span>커스텀마이징</span></div>
            <div ng-hide="isCustomizing"><i class="ion-clipboard" style="color : red" ng-click="cancelCustomizing()"></i><br><span>커스텀마이징</span></div>
            <div><i class="ion-ios-more-outline"></i><br><span>더보기</span></div>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-light item-complex mypage-item" >
        <div class="mypage-info">
          <div ng-if="scheduleListDetail.strapline != ''">
            <div class="item-divider detail-info-title">{{scheduleListDetail.strapline}}</div>
            <div class="item-text-wrap mypage-info-content" style="border-bottom: 1px solid #e0e0e0">
              {{scheduleListDetail.introduce}}
            </div>
          </div>
          <div class="item-text-wrap detail-info-content" style="margin-top: 8px">여행 예산<span>KRW {{scheduleListDetail.budGet}}<i class="ion-chevron-right"></i></span></div>
        </div>
      </ion-item>
    </ion-list>
    <br>
    <div class="detail-info">
      <ion-list id="addSchedule" ng-repeat="week in period">
        <div><div id="weekText" style="background-color: white; font-size: smaller">{{$index + 1}}일차</div>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: smaller">{{week}}</span></div>

        <section id="cd-timeline" class="cd-container">
          <div ng-repeat="location in getScheduleLocation" >
            <div class="cd-timeline-block" ng-if="week == location.departureDate">
              <div class="cd-timeline-icon text-center energized">
                <i class="ion-android-train timelineIcon"></i>
              </div>
              <div class="cd-timeline-content padding energized">
                <h5 class="marginBottom0 marginTop0"><a style="text-decoration: none; font-weight: bold" ng-href="#/location/{{location.contentCode}}">{{location.title}}</a> <span ng-click="location.isScheduleDetail = !location.isScheduleDetail"><i class="ion-android-arrow-dropdown" style="font-size: x-large"></i></span>
                <p ng-show="location.isScheduleDetail" class="marginTop5 cd-author">{{location.detailDepartureDate | date:"hh:mma"}}</p>
                <p ng-show="location.isScheduleDetail" class="timelineText"><a ng-href="#/location/{{location.contentCode}}"><img ng-src="{{location.imageUrl}}" style="width: 60%; height: 100px"></a></p>
                <i ng-show="location.isScheduleDetail" class="ion-heart" style="color: red"></i> <span ng-show="location.isScheduleDetail">{{location.likeCount}} </span>
              </div>
            </div>
          </div>
        </section>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
