<ion-view id="myPageView" view-title="쪽지">
  <ion-content>
    <div class="message-detail-wrap-div">
      <div class="scheduleList-author-div" style="height: 100%;">
        <a class="item item-avatar message-author-a">
          <img class="scheduleList-author-img" ng-src="{{message.photoUrl}}">
          <p class="scheduleList-author">{{message.displayName}}</p>
          <div class="item-text-wrap mypage-info-content">{{message.dateSent | timesince : 'kr' }}</div>
        </a>
        <div class="mypage-info" style="height: 85%;">
          <div class="item-divider detail-info-title message-detail-title-div" style="border-bottom: 1px solid #e0e0e0">
            {{message.title}}
          </div>
          <div class="item-text-wrap message-detail-content" ng-bind-html="message.content">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
