<ion-modal-view class="sendMessage-modal">
  <ion-content scroll="false">
    <div style="width: 100%; height: 60%; background-color: white; position: absolute; top:20%;">
      <div style="text-align: center; width: 100%; height: 9%; font-size: large; background-color: #ffc900; padding-top: 2%">
        <span style="font-weight: bold; color: white">쪽지 보내기</span>
        <a ng-click="modal.hide()" style="float: right; margin-right: 2%; text-decoration: none;"><i class="ion-close-round" style="color: white"></i></a>
        <!--<a ng-click="makeRoom(createRoom)" style="float: right; margin-right: 2%; text-decoration: none;"><i class="ion-checkmark-round" style="color: white"></i></a>-->
      </div>
      <div>
        받는사람선택하는거!
      </div>
      <div>
        <textarea></textarea>
      </div>
      <div>
        <button>보내기</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
