<ion-view title="hello">
  <ion-content>
    <ion-refresher on-refresh="load()" pulling-text="refresh" spinner="crescent"></ion-refresher>
    <div class="row" id="main-first-div" style="padding: 0; height: 177px;">
      <div class="col col-50" id="main-weather-div">
          <div ng-switch on=today.sky.code>
            <i id="main-location-icon" class="ion-location"></i>
            <span ng-if="today.sky.code != 'SKY_A00'" class="main-location-text"> {{loc}}</span>
            <span ng-if="today.sky.code == 'SKY_A00'" class="main-location-text"> 위치정보가 없습니다.</span>
            <!--상태없음-->
            <div style="margin-top: 15px" ng-switch-when="SKY_A00">
              <img width="100px" src="../../img/weather_icons/38.png">
            </div>
            <!--맑음-->
            <div ng-switch-when="SKY_A01">
              <img width="100px" src="../../img/weather_icons/01.png">
            </div>
            <!--구름조금-->
            <div ng-switch-when="SKY_A02">
              <img width="100px" src="../../img/weather_icons/02.png">
            </div>
            <!--구름많음-->
            <div ng-switch-when="SKY_A03">
              <img width="100px" src="../../img/weather_icons/03.png">
            </div>
            <!--구름많고 비-->
            <div ng-switch-when="SKY_A04">
              <img width="100px" src="../../img/weather_icons/12.png">
            </div>
            <!--구름많고 눈-->
            <div ng-switch-when="SKY_A05">
              <img width="100px" src="../../img/weather_icons/13.png">
            </div>
            <!--구름많고 비 또는 눈-->
            <div ng-switch-when="SKY_A06">
              <img width="100px" src="../../img/weather_icons/14.png">
            </div>
            <!--흐림-->
            <div ng-switch-when="SKY_A07">
              <img width="100px" src="../../img/weather_icons/18.png">
            </div>
            <!--흐리고 비-->
            <div ng-switch-when="SKY_A08">
              <img width="100px" src="../../img/weather_icons/21.png">
            </div>
            <!--흐리고 눈-->
            <div ng-switch-when="SKY_A09">
              <img width="100px" src="../../img/weather_icons/32.png">
            </div>
            <!--흐리고 비 또는 눈-->
            <div ng-switch-when="SKY_A10">
              <img width="100px" src="../../img/weather_icons/04.png">
            </div>
            <!--흐리고 낙뢰-->
            <div ng-switch-when="SKY_A11">
              <img width="100px" src="../../img/weather_icons/29.png">
            </div>
            <!--뇌우, 비-->
            <div ng-switch-when="SKY_A12">
              <img width="100px" src="../../img/weather_icons/26.png">
            </div>
            <!--뇌우, 눈-->
            <div ng-switch-when="SKY_A13">
              <img width="100px" src="../../img/weather_icons/27.png">
            </div>
            <!--뇌우, 비 또는 눈-->
            <div ng-switch-when="SKY_A14">
              <img width="100px" src="../../img/weather_icons/28.png">
            </div>
          </div>
          <h3 ng-if="today.sky.code != 'SKY_A00'" id="temperature-text"> <i class="ion-thermometer"></i> {{cTem}}˚C</h3>
      </div>
      <div class="col col-50" style="padding: 0">
        <div class="row" style="height: 50%; background-color: #c2d4dd;">2-1</div>
        <div class="row" style="height: 50%; background-color: #b0aac0; margin-top: 0; padding-top: 5px;">2-2</div>
      </div>
    </div>
      <ion-slide-box show-pager="true" auto-play="true" slide-interval="2000" does-continue="true" on-slide-changed="" style="height: 30%">
        <ion-slide>
          <div style="background-color: deepskyblue; height: 100%;"></div>
        </ion-slide>
        <ion-slide>
          <div style="background-color: yellowgreen; height: 100%;"></div>
        </ion-slide>
        <ion-slide>
          <div style="background-color: hotpink; height: 100%;"></div>
        </ion-slide>
      </ion-slide-box>
    <div style="height: 100%;">
      <div class="row" ng-repeat="photo in photos" ng-if="$index % 2 === 0">
        <div class="col col-50" ng-if="$index < photos.length">
          <img ng-src="{{photos[$index].src}}" width="100%"/>
          <span> 제목 Item {{ photos[$index].id }}</span><br>
          <span> 작성자 </span>
        </div>
        <div class="col col-50" ng-if="$index + 1 < photos.length">
          <img ng-src="{{photos[$index + 1].src}}" width="100%"/>
          <span> 제목 Item {{ photos[$index+1].id}}</span><br>
          <span> 작성자 </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>



<!--<ion-view title="hello">
  <ion-content>
    <div class="list card" ng-repeat="">
      <div class="item">
        <h2>설명</h2>
      </div>
      <div class="item item-image">
        <img ng-src="" src="/www/img/ionic.png">
      </div>
    </div>&ndash;&gt;
    <ion-infinite-scroll on-infinite="tourInfo()" ng-if="total > page" immediate-check="false"></ion-infinite-scroll>&ndash;&gt;
  </ion-content>
</ion-view>-->
