<ion-view title="hello"">
<ion-content scroll="false">
  <ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs>
    <ion-slide ion-slide-tab-label="전체" ui-sref="main.main">
      <ion-nav-view name="main-tab"></ion-nav-view>
    </ion-slide>
    <ion-slide ion-slide-tab-label="베스트 여행기">
      <ion-nav-view name="tour-tab"></ion-nav-view>
    </ion-slide>
    <ion-slide ion-slide-tab-label="베스트 일정">
      <ion-nav-view name="schedule-tab"></ion-nav-view>
    </ion-slide>
    <ion-slide ion-slide-tab-label="추천 루트">
      <ion-nav-view name="route-tab"></ion-nav-view>
    </ion-slide>
    <ion-slide ion-slide-tab-label="추천 정보">
      <ion-nav-view name="info-tab"></ion-nav-view>
    </ion-slide>
    <ion-slide ion-slide-tab-label="추천 리뷰">
      <ion-nav-view name="review-tab"></ion-nav-view>
    </ion-slide>
    <ion-slide ion-slide-tab-label="자유게시판">
      <ion-nav-view name="freeBoard-tab"></ion-nav-view>
    </ion-slide>
  </ion-slide-box>
</ion-content>
</ion-view>
