<ion-view title="hello">
  <ion-tabs class="tabs-energized tabs-striped tabs-top custom-tabs">
    <ion-tab title="전체" ui-sref="main.main">
      <ion-nav-view name="main-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="BEST 여행기" ui-sref="main.tour">
      <ion-nav-view name="tour-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="BEST 일정" ui-sref="main.schedule">
      <ion-nav-view name="schedule-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="추천 루트" ui-sref="main.route">
      <ion-nav-view name="route-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="추천 정보" ui-sref="main.info">
      <ion-nav-view name="info-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="추천 리뷰" ui-sref="main.review">
      <ion-nav-view name="review-tab"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="자유게시판" ui-sref="main.freeBoard">-->
      <!--<ion-nav-view name="freeBoard-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
  </ion-tabs>
</ion-view>

<!--<ion-view title="hello"">-->
<!--<ion-content scroll="true">-->
  <!--<ion-slide-box slide-tabs-scrollable="true" show-pager="false" ion-slide-tabs>-->
    <!--<ion-slide ion-slide-tab-label="전체" ui-sref="main.main">-->
      <!--<ion-nav-view name="main-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
    <!--<ion-slide ion-slide-tab-label="베스트 여행기">-->
      <!--<ion-nav-view name="tour-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
    <!--<ion-slide ion-slide-tab-label="베스트 일정">-->
      <!--<ion-nav-view name="schedule-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
    <!--<ion-slide ion-slide-tab-label="추천 루트">-->
      <!--<ion-nav-view name="route-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
    <!--<ion-slide ion-slide-tab-label="추천 정보">-->
      <!--<ion-nav-view name="info-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
    <!--<ion-slide ion-slide-tab-label="추천 리뷰">-->
      <!--<ion-nav-view name="review-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
    <!--<ion-slide ion-slide-tab-label="자유게시판">-->
      <!--<ion-nav-view name="freeBoard-tab"></ion-nav-view>-->
    <!--</ion-slide>-->
  <!--</ion-slide-box>-->
<!--</ion-content>-->
<!--</ion-view>-->
