<ion-view title="hello">
  <ion-content>
    <ion-refresher on-refresh="load()" pulling-text="refresh" spinner="crescent"></ion-refresher>
    <div style="height: 100%;">
      <div class="row" ng-repeat="mainRecord in mainRecordList" ng-if="$index % 2 === 0" ng-click="moveDetail(mainRecordList.no)">
        <div class="col col-50" ng-if="$index < mainRecordList.length">
          <img ng-src="{{mainRecordList[$index].coverImgUrl}}" class="main-board-img" width="100%"/>
          <div class="main-board-info">
            <p class="main-board-long-title" ng-if="mainRecordList[$index].title.length >= 15"> {{mainRecordList[$index].title}} </p>
            <p class="main-board-short-title" ng-if="mainRecordList[$index].title.length < 15"> {{mainRecordList[$index].title}} </p>
            <span class="main-board-author"> {{mainRecordList[$index].displayName}} </span>
          </div>
        </div>
        <div class="col col-50" ng-if="$index + 1 < mainRecordList.length">
          <img ng-src="{{mainRecordList[$index + 1].coverImgUrl}}" class="main-board-img" width="100%"/>
          <div class="main-board-info">
            <p class="main-board-long-title" ng-if="mainRecordList[$index+1].title.length >= 15"> {{mainRecordList[$index+1].title}} </p>
            <p class="main-board-short-title" ng-if="mainRecordList[$index+1].title.length < 15"> {{mainRecordList[$index+1].title}} </p>
            <span class="main-board-author"> {{mainRecordList[$index+1].displayName}} </span>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="getBoardList()" ng-if="total > page" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
