<ion-view title="커뮤니티">

  <!-- 헤더 우측 상단 액션시트 버튼 -->
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-share-alt" ng-click="share($event)"></button>
    <button class="button button-icon button-clear ion-android-more-vertical" ng-click="show($event)" ng-if="rootUser.userUid == board.userUid"></button>
  </ion-nav-buttons>

  <ion-content>
    <!-- CARD -->
    <div class="list card stable-100-bg">
      <!-- WRITER -->
      <div class="item item-avatar">
        <!-- writer img -->
        <img ng-src="{{board.photoUrl}}">
        <!-- writer displayName-->
        <h2>{{board.displayName}}</h2>
        <!-- regdate -->
        <p>{{board.regDate | date : 'short' }}</p>
      </div>

      <!-- TITLE -->
      <div class="item item-divider">
        <a>{{board.categoryName}}</a> <b>{{board.title}}</b>
      </div>

      <div class="item item-body" style="min-height:200px; overflow: hidden">
        <div ng-bind-html="board.content"></div>
      </div>

      <div class="button-bar bar-balanced">
        <a class="button button-raised ink-dark"><span class="ion-thumbsup"></span> 좋아요 <b style="color: #0477f4;"> {{board.likeCnt}}</b></a>
        <a class="button button-raised ink-dark"><span class="ion-archive"></span> 즐겨찾기 </a>
      </div>



    </div>

  </ion-content>
</ion-view>


