<ion-view title="커뮤니티">

  <!--오른쪽에 내비게이션 버튼 추가-->
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-more-vertical" ng-click="show($event)"></button>
  </ion-nav-buttons>

  <ion-content>
    <!-- CARD -->
    <div class="list card stable-100-bg">
      <!-- TITLE -->
      <div class="item item-divider">
        <a>{{board.categoryName}}</a> <b>{{board.title}}</b>
      </div>
      <!-- WRITER -->
      <div class="item item-avatar">
        <!-- writer img -->
        <img ng-src="{{board.photoUrl}}">
        <!-- writer displayName-->
        <h2>{{board.displayName}}</h2>
        <!-- regdate -->
        <p>{{board.regDate | date : 'short' }}</p>
      </div>

      <div class="item item-body" style="min-height:200px;">
        <!-- CONTENT HTML -->
        {{board.content}}
      </div>
      <!-- BUTTONS -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" style="color: white;">
          <i class="icon ion-thumbsup"></i> 좋아요 <b style="color: #F44336;">10</b>
        </a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" style="color: white;">
          <i class="icon ion-chatbox"></i> 댓글 <b style="color: #F44336;">9</b>
        </a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" style="color: white;" ui-sref="communityDetail">
          <i class="icon ion-document-text"></i> 상세보기
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
