<ion-view title="Information">

  <button id="fab" class="button button-balanced button-fab button-fab-bottom-right" ng-click="openModal(3);">
    <i class="icon ion-compose"></i>
  </button>

  <ion-content>

    <!-- 위로 드래그시 새로고침 -->
    <ion-refresher on-refresh="load()" pulling-text="새로고침" spinner="crescent"></ion-refresher>

    <!-- CARD -->
    <div class="list card stable-100-bg" ng-repeat="board in boardList | filter: {categoryNo:3}">
      <!-- TITLE -->
      <div class="item item-divider">
        <a>{{board.categoryName}}</a> <b>{{board.title}}</b>
      </div>
      <!-- WRITER -->
      <div class="item item-avatar">
        <!-- writer img -->
        <img ng-src="{{board.photoUrl}}">
        <!-- writer displayName-->
        <h2>{{board.displayName}}</h2>
        <!-- regdate -->
        <p>{{board.regDate | date : 'short' }}</p>
      </div>

      <div class="item item-body" style="max-height:200px; overflow: hidden">
        <!-- CONTENT HTML -->
        {{board.content}}
      </div>
      <!-- BUTTONS -->
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" style="color: white;">
          <i class="icon ion-thumbsup"></i> 좋아요 <b style="color: #F44336;">10</b>
        </a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" style="color: white;">
          <i class="icon ion-chatbox"></i> 댓글 <b style="color: #F44336;">9</b>
        </a>
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" style="color: white;" ui-sref="communityDetail">
          <i class="icon ion-document-text"></i> 상세보기
        </a>
      </div>
    </div>

    <!-- 무한 스크롤 -->
    <ion-infinite-scroll on-infinite="getBoardList()" ng-if="total > page" immediate-check="false"></ion-infinite-scroll>

  </ion-content>
</ion-view>
