<ion-view title="detail">
  <ion-content>
    <div class="item item-divider">
      <i class="ion-images"></i>
      IMAGE
    </div>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-show="isPhoto" ng-src="{{image.originimgurl}}" ng-click="showImages($index)" class="image-list-thumb" ng-repeat="image in imageList">
        <img ng-hide="isPhoto" src="../../img/no_image.gif" ng-click="showImages($index)" class="image-list-thumb">
      </ion-scroll>
    </a>
    <!--<div class="item item-divider">-->
      <!--<i class="ion-cash"></i>-->
      <!--요금-->
    <!--</div>-->
    <!--<div class="item item-list-detail" style="padding: 16px;" id="info-div">-->
    <!--</div>-->
  </ion-content>
</ion-view>
